#div1{
    border: solid 1px;
    padding: 10px;
}
#div2{
    overflow: auto;
}
img{
    float:left;
    margin-right:10px;
}
.longdiv{
    position: fixed;
    top: 100px;
    left: 100px;
    width: 400px;
    height: 400px;
}
.longdiv:active{
    display:none;
}
#div3{
     background-color: #CCCCCC;
     margin: 10px;
 }
